<p>Hi there,</p>
<p>You are receiving this email because we received a password  reset request for your account</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="<%= url %>" target="_blank">Reset password</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>If you didn't request password reset, no further action required.</p>
<p>
  Regards, <br>
  <%= process.env.APP_NAME %>
</p>